<section class="hero is-success is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            URL SHORTENER
          </a>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="card">
            <div class="card-content">
              <div class="field">
                <label class="label">URL</label>
                <div class="control">
                  <input class="input" type="text" [(ngModel)]="urlInput" placeholder="http://www.google.ca">
                </div>
                <p class="help is-danger" *ngIf="errorMessage">{{errorMessage}}</p>
              </div>
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" 
                  [class.is-loading]="requestRunning" 
                  [disabled]="requestRunning" 
                  (click)="onShortenClick()">
                  Shorten</button>
                </div>
                <div class="control">
                    <button class="button is-link" 
                    [class.is-loading]="requestRunning" 
                    [disabled]="requestRunning"
                    (click)="onUnshortenClick()">
                    Unshorten</button>
                </div>
              </div>
              <div class=field>
                  <label class="label">Result</label>
                  <div class="control">
                      <pre>{{result}}</pre>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>